   <ul id="sort_faqs" style="list-style:url('/images/css/b-bullet.png')">
   <% @faqs.each do |faq| %>  
    <li id="item_<%= faq.id %>"><%= link_to faq.question, faq %>
		  <% if auth?(faq.department_id) %>
			<br />
			<%= link_to	'Edit', edit_faq_path(faq), :class => 'admin' %>  
			<%= link_to 'Delete', faq, :confirm => 'Are you sure?', :method => :delete, :class => 'admin'%>
			<span class="handle" style="<%= @cursor_style %>">DRAG</span><% end %>
		</li>
	<% end %>
  </ul>
