<div id="middleCol">
<h1>Frequently Asked Questions</h1>
<% if admin? %>
	<br />
	<%= link_to 'New FAQ', new_faq_path, :class => 'admin' %> 
	<%= link_to 'FAQ Categories', faq_categories_path, :class => 'admin' %>
<% end %>

<% @faq_dept.each do |dept, @faqs| %>  
	<a name="<%= dept.id %>"></a>
 <h2 class="deptDivider description"><%= dept.dept_name %></h2> 
 		<%= render :partial=>"faq_list" %>
<% end %> 
</div>
<div id="rightCol">
</div>

