
<div id="middleCol">
	<h1>Frequently Asked Question:</h1>
		<div class="additional">Additional solutions can be found on each department's page</div><br />
		<div class="question"><%=h @faq.question %></div>
		<div class="answer"><%== @faq.answer %></div>

	<% if @faq.url.size > 0 %>
	<br /><br />
	<span class="instructions">Additional information is available at:  <%= link_to @faq.url, @faq.url %></span>
	<% end %>
	<br /><br />
	<span class="list_date">posted <%= @faq.updated_at.strftime("%m-%d-%Y")  %>
		[<%= link_to @faq.department.dept_name, department_path(@faq.department) %>] </span> 
<% if auth?(@faq.department_id) %>
<br />
<%= link_to 'Edit', edit_faq_path(@faq), :class=>'admin' %> 
<%= link_to 'Back', faqs_path, :class=>'admin' %>
<% end %>
</div>
<div id="rightCol">
</div>