<% unless @department.nil? %>
	<% content_for :leftCol do %>
		<%= render "/departments/sidebar" %>
	<% end %>
<% end %>
<section id="middleCol">
	<h1>Contact Us</h1>
	<p class="instructions">Have a question? Send us a note using the form below.</p>



	<%= form_for(:contact_us, :url => contact_us_url, :html => { :class => 'contact' }) do |f| %>
	<%= f.hidden_field :department_id, :value => @department.id unless @department.nil? %>
	<div class="formSection" style="border:none;">
	  <fieldset>
	  <div class="input_block">
	    <%= f.label :name %>
	    <%= f.text_field :name, :size=>"60" %>
	  </div>
	  </fieldset>
	  <fieldset>
	  <div class="input_block">
	    <%= f.label :email %>
	    <%= f.text_field :email, :size=>"60" %>
	  </div>
	  </fieldset>
	  <fieldset>
		<div class="input_block">
	    <%= f.label :message, "Message" %>
	    <%= f.text_area :message, :rows => "7", :cols=>"50"%>
	  </div>
	  </fieldset>

	</div>
		<div>
	    <%= f.submit 'send' %>
		</div>
	<% end %>
</section>
<section id="rightBox">
</section>