
<%= form_for(@department, :html => { :multipart => true }) do |f| %>
<div id="middleCol" >
<% if @department.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@department.errors.count, "error") %> prohibited this event from being saved:</h2>
    <ul>
    <% @department.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= f.label :dept_name %><br />
  <%= f.text_field :dept_name, :size => '60', :autofocus => 'autofocus' %>
</p>
  <p>
    <% if @showpic %>
	<%= image_tag @department.logo.url(:medium) %> <br />
	<label class="instructions"><input type="checkbox" name="delete_image" value="1" /> Check to remove image</label>
    <br />
	<% end %>
      <%= f.label :logo %>  
      <%= f.file_field :logo %>  
  </p>
   <p>
    <%= f.label :description %><br />
    <%= f.cktext_area :description, :toolbar=>'Easy', :width=>'360px', :height=>'200px' %>  
  </p>
 <p>
    <%= f.submit @button_text %>
  </p>
</div>
<div id="rightCol">
	<div style="padding-left:10px;">
	   <% if @button_text == 'Update' %> 
	   <div class="showcase_image_list">
	    <h2 class="title">Contacts</h2>   
		<span class="instructions">Drag contacts to reorder them</span>
	    <%= render :partial => 'contact_draggable'%>

	  </div>
	  <% else %>
	  	<span class="instructions"> Add Contacts after creating Department</span>
	  <% end %> 
	  <p>
	    <%= f.label :dept_hours %><br />
	    <%= f.text_area :dept_hours, :rows=>3, :cols=>20 %>
	  </p>
	  <p>
	    <%= f.label :dept_phone %><br />
	    <%= f.text_area :dept_phone, :rows=>3, :cols=>20 %>
	  </p>
	  <p>
	    <%= f.label :dept_fax %><br />
	    <%= f.text_area :dept_fax, :rows=>3, :cols=>20 %>
	  </p>
	  <p>
	    <%= f.label :dept_email %><br />
	    <%= f.text_field :dept_email %>
	  </p>
	  <p>
	    <%= f.label :dept_location %><br />
	    <%= f.text_area :dept_location, :rows=>3, :cols=>20 %>
	  </p>
	  <p>
	    <%= f.label :dept_mailing %><br />
	    <%= f.text_area :dept_mailing, :rows=>3, :cols=>20 %>
	  </p>
	</div>
</div>
<% end %>