<!-- IMAGE GALLERY - start -->

<% if !@department.contacts.empty? %>
	<% @contacts.each do |contact| %>
			<div  class="contact clearfix">
				<div>
				<span class="contact_title"><%= contact.title %>: </span>
				<p>
				<% if contact.photo_file_name %>
					<%= image_tag(contact.photo.url(:small), :class=>"photos") %><br />
				<% end %>
				<%= contact.firstname %> <%= contact.lastname %> <br />
				<%= mail_to contact.email, contact.email %>
				</p>
				</div>
			</div>
	<% end %>
			
<% end %>

<!-- IMAGE GALLERY - end -->

<% if @department.dept_hours.any? %>
<div>
  <span class="contact_title">Hours:</span>
  <%= simple_format(@department.dept_hours) %>
</div>
<% end %>

<% if @department.dept_phone.any? %>
<div>
  <span class="contact_title">Phone:</span>
  <%= simple_format(@department.dept_phone) %>
</div>
<% end %>

<% if @department.dept_fax.any? %>
<div>
  <span class="contact_title">Fax:</span>
  <%= simple_format(@department.dept_fax) %>
</div>
<% end %>

<% if @department.dept_email.any? %>
<div>
  <span class="contact_title">Email:</span>
  <%= simple_format(@department.dept_email) %>
</div>
<% end %>

<% if @department.dept_location.any? %>
<div>
  <span class="contact_title">Location:</span>
  <%= simple_format(@department.dept_location) %>
</div>
<% end %>

<% if @department.dept_mailing.any? %>
<div>
  <span class="contact_title">Mailing Address:</span>
  <%= simple_format(@department.dept_mailing) %>
</div>
<% end %>
