<div>
  <span class="contact_title"><%= @department.dept_name %></span>
</div>
<!-- IMAGE GALLERY - start -->

<% if !@department.contacts.empty? %>
	<% @contacts.each do |contact| %>
		<div  class="contact clearfix">
			<p><% if contact.photo_file_name %>
				<p style="text-align:center"><%= image_tag(contact.photo.url(:medium), :class=>"photos") %><br />
				<span class="contact_title"><%= contact.title %>: </span><br />
				<%= contact.firstname %> <%= contact.lastname %></p>
			<% else %>
			<span class="contact_title"><%= contact.title %>: </span><br />
			<%= contact.firstname %> <%= contact.lastname %>
			<% end %>
			</p>
		</div>
	<% end %>
			
<% end %>

<!-- IMAGE GALLERY - end -->

<% if @department.dept_hours.any? %>
<div>
  <span class="contact_title">Hours:</span>
  <%= simple_format(@department.dept_hours) %>
</div>
<% end %>

<% if @department.dept_phone.any? %>
<div>
  <span class="contact_title">Phone:</span>
  <%= simple_format(@department.dept_phone) %>
</div>
<% end %>

<% if @department.dept_fax.any? %>
<div>
  <span class="contact_title">Fax:</span>
  <%= simple_format(@department.dept_fax) %>
</div>
<% end %>

<% if @department.dept_location.any? %>
<div>
  <span class="contact_title">Location:</span>
  <%= simple_format(@department.dept_location) %>
</div>
<% end %>

<% if @department.dept_mailing.any? %>
<div>
  <span class="contact_title">Mailing Address:</span>
  <%= simple_format(@department.dept_mailing, :style => 'margin-bottom:8px;') %>
</div>
<% end %>
