<div id="middleCol">
<h1>Departments, Boards, and Organizations</h1>
<%= link_to 'New department', new_department_path, :class=>"admin" if auth? %>

<table style="margin-top:20px;">

<% @departments.each do |department| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= link_to department.dept_name, department %></td>
    <td><%= department.dept_phone %></td>
    <% if admin? %>
   	<td><%= link_to 'Show', department, :class=>"admin" %></td>
    <td><%= link_to 'Edit', edit_department_path(department), :class=>"admin" if auth?(department.id)%></td>
    <td><%= link_to 'Delete', department, :class=>"admin", :confirm => 'Are you sure?', :method => :delete if auth?(department.id) %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New department', new_department_path, :class=>"admin" if auth? %>
</div>
<div id="rightCol">
</div>