<% content_for :leftCol do %>
	<%= render "/departments/sidebar" %>
<% end %>
<div id="middleCol">
<div class="pageHeader">  <%= @department.dept_name %></div>
<%= link_to 'Edit', edit_department_path(@department), :class=>"admin" if auth?(@department.id) %>
<% if @news.size>0 %>
<div class="deptBox">
	<h2>Announcements/Events</h2> 
		 <ul>
		 <% @news.each do |news| %>  
			<li><%= link_to news.title, event_path(news, :dept => @department.id) %></li>
				<% if admin? %>
					<dd><%= link_to	'Edit', edit_event_path(news), :class => 'admin' %>  
					<%= link_to 'Delete', news, :confirm => 'Are you sure?', :method => :delete, :class => 'admin'%>
					</dd>
				<% end %>

		<% end %>  
		</ul>
</div>
<% end %>
<div class="description">
  <%== @department.description %>
</div>
<%= link_to 'Edit', edit_department_path(@department), :class=>"admin" if auth?(@department.id) %>
</div>
<div id="rightCol">
    <% if @showpic %>
	<div class="bordered boxshadow rounded" style="border:1px solid black;width:200px;text-align:center;padding:2px;float:right;margin-right:10px;"><%= image_tag @department.pic.url(:medium), :style => "padding-top:2px;" %> </div>
	<% end %>
	<!-- ITEM_LIST -->
	<div class="item_list" style="padding-left: 10px;">
			<% if @faqs.any? %>
			<h2 class="listDivider">Common Solutions</h2>
			<%= render :partial=>'faqs/faq_list' %>
			<p ><%= link_to 'View all ' + @department.dept_name + ' FAQs', {:action=>:index, :controller=>:faqs, :dept=>@department}, :class=>'foot' %></p>
			<% end %>

			<% if @resources.any? %>
			<h2 class="listDivider">Resources</h2>
			<%= render 'resources/resource_list'%>
			<p ><%= link_to 'View all ' + @department.dept_name + ' resources', {:action=>:index, :controller=>:resources, :dept=>@department}, :class=>'foot' %></p>
			<% end %>

	</div>
</div>