<div id="leftCol">
	<div class="textHolder">
		This is what goes on the left side of the page.
	</div><!-- end textHolder -->
	<div id="navHolder">
	</div><!-- end navHolder -->
</div><!-- end leftCol -->
<div id="subContent" class="sidebar" style="margin-top:0;">
<p><%= link_to "Events", events_path, :class => 'foot sidebar'%></p>
<p><%= link_to "Announcements", events_path(:t=>'News'), :class => 'foot sidebar'%></p>
</div>

<div id="eventListing">
<h1><%= @eventHeader %></h1>
<% if admin? %>
	<%= link_to 'New Event', new_event_path, :class => 'admin' %>
<% end %>

<% @event_months.each do |month, events| %>  
 <h2 class="deptDivider"><%= month.strftime("%B %Y") %></h2>  
   <dl>
   <% events.each do |event| %>  
    <dt <%="class='#{event.event_type}'"-%>><%= link_to event.title, event %> <span><%= event.start_date.to_date.to_s(:long) %></span></dt>
    <dd><%=h event.blurb %></dd>
      <% if admin? %>
				<dd><%= link_to	'Edit', edit_event_path(event), :class => 'admin' %>  
				<%= link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete, :class => 'admin'%>
				</dd>
			<% end %>
  <% end %>  
  </dl>
<% end %> 

<% if admin? %>
<br />

<%= link_to 'New Event', new_event_path, :class => 'admin' %>
<% end %>
</div>
<div id="rightCol">
</div>
