
<div id="middleCol" class="wide">
	<div id="eventListing">
	<p>| <%= link_to "News", events_path(:t=>'News') %> | 
	<%= link_to "Events", events_path %> | 
	<%if params[:dept]%> 
		<%= link_to 'Back', :back %> |
	<% end %>
	</p>
  <h1><%=h @event.title %></h1>
	<p>
	  <i><%= @event.blurb %></i>
	</p>
<p class="list_date">
  <%=h @event.start_date.strftime("%A %B %e, %Y") %>  <%=h  " - " + @event.end_date.strftime("%A %B %e, %Y") if @event.end_date != @event.start_date %>
</p>
<div class="description">
  <%== @event.description %>
</div>

<% if @event.url.any? %>
<p class="instructions">
  <b>For more information:</b>
  <%= link_to @event.url, format_url(@event.url) %>
</p>
<% end %>

	<span class="list_date">

		[<%= @event.department.dept_name %>] </span> 


<% if admin? %>
<br />
<%= link_to 'Edit', edit_event_path(@event), :class=>'admin' %> 
<%= link_to 'Back', events_path(:t=>@event.event_type), :class=>'admin' %>
<% end %>
</div>
