<div id="middleCol">
<%= form_for([@department, @contact], :html => { :multipart => true }) do |f| %>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <% if @showpic %>
	<%= image_tag @contact.photo.url(:large) %> <br />
	<label class="instructions"><input type="checkbox" name="delete_image" value="1" /> Check to remove image</label>
    <br />
	<% end %>
      <%= f.label :photo %>  
      <%= f.file_field :photo %>  
</p>
	</p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', edit_department_path(@department) %>
</div>