<div id="middleCol">
	<h1>Welcome to Branch County</h1>
	<h2>Common Solutions</h2> 
	<%= render :partial => "faqs/faq_list" %>
		<% if @news.size>0 %>
		<h2>Announcements</h2> 
			 <dl>
			 <% @news.each do |news| %>  
				<dt><%= link_to news.title, news %><!-- <span class="list_date"><%= news.start_date.to_date.to_s(:long) %></span>--></dt>
				<dd class="instructions"><%=h news.blurb %></dd>
					<% if admin? %>
						<dd><%= link_to	'Edit', edit_event_path(news), :class => 'admin' %>  
						<%= link_to 'Delete', news, :confirm => 'Are you sure?', :method => :delete, :class => 'admin'%>
						</dd>
					<% end %>

			<% end %>  
			</dl>
			<div><%= link_to "View All Announcements...", events_path(:t=>'News'), :class=>'foot' %></div>
	<% end %>
	<div class="featureBox">
		<h2>Upcoming Events</h2>
		<div class="content eventList fbc4">		
			<% @events.each do |event| %>
			<div class="eventItem <%= cycle('odd','even') %>">
				<a href="events/<%= event.id %>">
				<div class="eventDate">
					<div class="eventDay"><%= event.start_date.strftime("%e") %></div>
					<div class="eventMonth"><%= event.start_date.strftime("%b") %></div>
				</div>
				<div class="eventBlurb">
					<div class="eventTitle instructions"><%= event.title %></div>
					<div class="eventDesc"><%= event.blurb %></div>
				</div>
				</a>
			</div> <!-- eventItem -->
			<% end %>
		</div>
		<div class="bottom fbb4"><div><%= link_to "View All Events...", events_path %></div>
		</div>
	</div>
</div><!-- end middleCol -->
<div id="rightCol">
	<div class="contentBox1_holder">
		<div class="contentBox1_head">
			<div class="contentBox1_title">COUNTY SHOWCASE</div>
		</div>
		<div class="contentBox1_body">
	<a href="http://www.amlegal.com/nxt/gateway.dll/Michigan/marshall_mi/cityofmarshallmichigancodeofordinances?fn=altmain-nf.htm$f=templates$3.0&vid=amlegal:marshall_mi$anc=" target="_blank"><div style="background:url(/images/publishing.jpg) no-repeat top;margin-bottom:20px;width:150px;height:75px;">
			<!-- Begin eLocalLink Code :ml418vp5c-2411 -->
			<script language="JavaScript" src="http://elocallink.tv/mlink/mlink.php?x=VWECNg9qA2o="></script>
			<!-- End eLocalLink Code :twn918vp2 -->
			
	<div class="homeCenter">
		<h2 class="deptDivider">Featured Resources</h2>
		<div class="instructions"><%= @blurb %> </div>
		 <%= render :partial => "resources/resource_list" %>
	</div>
		</div>
	</div>
</div><!-- end rightCol -->