<div id="middleCol">
	<div class="pageHeader">Welcome to Branch County</div>
	<h2>Common Solutions</h2> 
	<%= render :partial => "faqs/faq_list" %>
		<%= link_to "View All FAQs...", faqs_path, :class=>'foot' %>
		<% if @news.any?%>
		<h2>Announcements</h2> 
			 <ul>
			 <% @news.each do |news| %>  
				<li><%= link_to news.title, news %></li>
					<% if admin? %>
						<dd><%= link_to	'Edit', edit_event_path(news), :class => 'admin' %>  
						<%= link_to 'Delete', news, :confirm => 'Are you sure?', :method => :delete, :class => 'admin'%>
						</dd>
					<% end %>

			<% end %>  
			</ul>
			<div><%= link_to "View All Announcements...", events_path(:t=>'News'), :class=>'foot' %></div>
	<% end %>
	<% if @events.any?%>
		<h2>Upcoming Events</h2>		
			<% @events.each do |event| %>
			<div class="eventItem <%= cycle('odd','even') %>">
				<%= link_to event_path(event) do %>
					<span class="eventDate"><%= event.start_date.to_date.to_s(:long) %></span> - <%= event.title %><br />
					<div class="eventBlurb"><%= event.blurb %></div><br />
				<% end %>
			</div> <!-- eventItem -->
			<% end %>
		<div><%= link_to "View All Events...", events_path, :class=>'foot' %></div>
	<% end %>

</div><!-- end middleCol -->
<div id="rightCol">
	<div class="contentBox1_holder">
		<div class="contentBox1_head">
			<div class="contentBox1_title">COUNTY SHOWCASE</div>
		</div>
		<div class="contentBox1_body">
			<h2><%= link_to @showcase.title, @showcase, :class => 'title' %></h2>
			<%= link_to image_tag (@showcase.photo.url(:medium),  :alt  => @showcase.title, :class => 'imageshadow'), @showcase if @showcase.photo_file_name %>
			<p><%== @showcase.blurb %></p> 
			<div class="article" style="font-size:small;"><%= link_to 'Read more', @showcase, :class => 'foot'%></div>
		</div>
		<div class="contentBox1_foot"></div>
	</div><!--contentBox1 END-->
	<div class="resources">
		<h2>Featured Resources</h2>
		
		 <%= render :partial => "resources/resource_list" %>
		<div><%= link_to "View All Resources...", resources_path, :class=>'foot' %></div>
	</div>
</div><!-- end rightCol -->