<div id="middleCol">
	<div class="pageHeader">Welcome to Branch County</div>
	<h1>Common Solutions</h1> 
	<%= render :partial => "faqs/faq_list" %>
		<% if @news.size>0 %>
		<%= link_to "View All FAQs...", faqs_path, :class=>'foot' %>
		<h1>Announcements</h1> 
			 <ul>
			 <% @news.each do |news| %>  
				<li><%= image_tag("golddot.png") %> <%= link_to news.title, news %></li>
					<% if admin? %>
						<dd><%= link_to	'Edit', edit_event_path(news), :class => 'admin' %>  
						<%= link_to 'Delete', news, :confirm => 'Are you sure?', :method => :delete, :class => 'admin'%>
						</dd>
					<% end %>

			<% end %>  
			</ul>
			<div><%= link_to "View All Announcements...", events_path(:t=>'News'), :class=>'foot' %></div>
	<% end %>
		<h1>Upcoming Events</h1>		
			<% @events.each do |event| %>
			<div class="eventItem <%= cycle('odd','even') %>">
				<a href="events/<%= event.id %>">
<%= event.start_date.to_date.to_s(:long) %> - <%= event.title %><br />
					<div class="eventBlurb"><%= event.blurb %></div><br />
				</a>
			</div> <!-- eventItem -->
			<% end %>
		<div><%= link_to "View All Events...", events_path, :class=>'foot' %></div>

</div><!-- end middleCol -->
<div id="rightCol">
	<div class="contentBox1_holder">
		<div class="contentBox1_head">
			<div class="contentBox1_title">COUNTY SHOWCASE</div>
		</div>
		<div class="contentBox1_body">
			<a href="showcase2.taf?_function=detail&showcase_uid1=108&_UserReference=B96315F8B0804A234FFEE806" class="title"><b>County Showcase</b></a><br />
<!-- Begin eLocalLink Code :ml418vp5c-4814 -->
	<script language="JavaScript" src="http://elocallink.tv/mlink/mlink.php?x=VmRQaAJnBGg="></script>
<!-- End eLocalLink Code :twn918vp2 -->
			<br /><br /><a href="showcase2.taf?_function=detail&showcase_uid1=108&_UserReference=B96315F8B0804A234FFEE806" class="foot">Read More...</a>
		</div>
		<div class="contentBox1_foot"></div>
	</div><!--contentBox1 END-->
	<div class="homeCenter">
		<h2 class="deptDivider">Featured Resources</h2>
		<div class="instructions"><%= @blurb %> </div>
		 <%= render :partial => "resources/resource_list" %>
	</div>
</div><!-- end rightCol -->