<div id="leftCol">
	<div>
	  <span class="contact_title">Branch County Courthouse</span><br />
	  <p>31 Division St. <br />
		 Coldwater, MI 49036</p>
	</div>
	<div>
	  <span class="contact_title">Hours</span><br />
	  <p>Monday - Friday <br />
		 8:00am - 5:00pm</p>
	</div>
	<div>
	  <span class="contact_title">Phone</span><br />
	  <p>517.279.4300</p>
	</div>
	<div id="navHolder">
	</div><!-- end navHolder -->
</div><!-- end leftCol -->
<div id="middleCol">
	<div class="pageHeader">Welcome to Branch County</div>
	<h1>Common Solutions</h1> 
	<%= render :partial => "faqs/faq_list" %>
		<% if @news.size>0 %>
		<%= link_to "View All FAQs...", faqs_path, :class=>'foot' %>
		<h1>Announcements</h1> 
			 <ul>
			 <% @news.each do |news| %>  
				<li><%= link_to news.title, news %></li>
					<% if admin? %>
						<dd><%= link_to	'Edit', edit_event_path(news), :class => 'admin' %>  
						<%= link_to 'Delete', news, :confirm => 'Are you sure?', :method => :delete, :class => 'admin'%>
						</dd>
					<% end %>

			<% end %>  
			</ul>
			<div><%= link_to "View All Announcements...", events_path(:t=>'News'), :class=>'foot' %></div>
	<% end %>
		<h1>Upcoming Events</h1>		
			<% @events.each do |event| %>
			<div class="eventItem <%= cycle('odd','even') %>">
				<a href="events/<%= event.id %>">
<%= event.start_date.to_date.to_s(:long) %> - <%= event.title %><br />
					<div class="eventBlurb"><%= event.blurb %></div><br />
				</a>
			</div> <!-- eventItem -->
			<% end %>
		<div><%= link_to "View All Events...", events_path, :class=>'foot' %></div>

</div><!-- end middleCol -->
<div id="rightCol">
	<div class="contentBox1_holder">
		<div class="contentBox1_head">
			<div class="contentBox1_title">COUNTY SHOWCASE</div>
		</div>
		<div class="contentBox1_body">
	<a href="http://www.amlegal.com/nxt/gateway.dll/Michigan/marshall_mi/cityofmarshallmichigancodeofordinances?fn=altmain-nf.htm$f=templates$3.0&vid=amlegal:marshall_mi$anc=" target="_blank"><div style="background:url(/images/publishing.jpg) no-repeat top;margin-bottom:20px;width:150px;height:75px;">
			<!-- Begin eLocalLink Code :ml418vp5c-2411 -->
			<script language="JavaScript" src="http://elocallink.tv/mlink/mlink.php?x=VWECNg9qA2o="></script>
			<!-- End eLocalLink Code :twn918vp2 --><%= link_to image_tag("acroreader.png", :border=>'none'), 'http://get.adobe.com/reader/', :target=>'_blank' %><br />Many documents posted here are PDFs. You can download the free PDF reader from Adobe.
	<div class="homeCenter">
		<h2 class="deptDivider">Featured Resources</h2>
		<div class="instructions"><%= @blurb %> </div>
		 <%= render :partial => "resources/resource_list" %>
	</div>
		</div>
	</div>
</div><!-- end rightCol -->