<div id="middleCol">
<div id="eventListing">
 <h2>Showcase Archives</h2>  
  <%= link_to 'New showcase', new_showcase_path, :class=>'admin' if admin? %>
	<dl>
 		<% unless admin? %>
	   	<% @published.each do |showcase| %>  
				<dt><%= link_to showcase.title, showcase %> <span>published <%= showcase.publish_date.to_date.to_s(:long) %></span></dt>
				<!-- <dd><%= showcase.blurb %></dd>  -->  
		  <% end %>  
		<% else %>
		 <% @showcases.each do |showcase| %>  
			<dt><%= link_to showcase.title, showcase %> <span>
				<% if showcase.published %>
					<%= showcase.publish_date.to_date.to_s(:long) %>
				<% else %>
					<b>Unpublished</b>
				<% end %>
				</span></dt>
			<dd><%=h showcase.blurb %></dd>    
			<dd><%= link_to 'Edit', edit_showcase_path(showcase), :class => 'admin' %> <%= link_to 'Delete', showcase, :class => 'admin', :confirm => 'Are you sure?', :method => :delete %></dd>
		 <% end %>  
		<% end %>
	</dl>
</div>
</div>
