<h1>Editing showcase</h1>

<% form_for(@showcase, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
<div style="float:left">
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= image_tag @showcase.photo.url(:large) %>
    <br />
      <%= f.label :photo, "Main Image" %>  
      <%= f.file_field :photo %>  
</p>
  <p>
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.label :publish_date %><br />
    <%= f.date_select :publish_date %>
  </p>
  <p>
    <%= f.label :blurb %><br />
    <%= f.text_area :blurb, :rows=>'5', :cols=>'30' %>
  </p>
  <p>
    <%= f.label :article %><br />
    <%= f.text_area :article %>
  </p>
  </div>
  <div style="float:left; margin-left:25px;">
  <p>
    <%= f.label :sidebar %><br />
    <%= f.text_area :sidebar, :rows=>'20', :cols=>'25' %>
    
   <div id="showcase_image_list">
    <h2>Image Gallery</h2>   
 	<%= link_to "Add Photo", new_showcase_showcase_image_path(@showcase), :class=>'foot' %><br />
	<span class="instructions">Drag images to reorder them</span>
    <%= render :partial => 'showcase_image_draggable'%>
    
  </div>
    
  </p>
 </div>
  <div style="clear:both;">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Show', @showcase %> |
<%= link_to 'Back', showcases_path %>