<h1>New showcase</h1>

<% form_for(@showcase, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.label :publish_date %><br />
    <%= f.datetime_select :publish_date %>
  </p>
  <p>
    <%= f.label :blurb %><br />
    <%= f.text_area :blurb %>
  </p>
  <p>
    <%= f.label :article %><br />
    <%= f.text_area :article %>
  </p>
  <p>
    <%= f.label :sidebar %><br />
    <%= f.text_area :sidebar %>
  </p>
  <p>
      <%= f.label :photo, "Main Image" %>  
      <%= f.file_field :photo %>  
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', showcases_path %>