		 <dl class="resourceList">
		 <% for resource in @minutes %>  
			<% if resource.resource_type == 'Document' %>
				<dt class="<%= get_icon(resource.res_content_type) %>" id="item_<%= resource.id %>"><%= link_to resource.title, resource.res.url, :title => "Download #{resource.res_file_name}", :target => '_blank' %> <span class="list_date">~<%= resource.res_file_size/1000 %> KB</span></dt>
			<% else %>
		    <dt class="link" id="item_<%= resource.id %>"><%= link_to resource.title, format_url(resource.res_file_name), :target => '_blank' %></dt>
			<% end %>
    	<% if resource.description.size %><dd><%= resource.description %></dd><% end %>
			<% if resource.resource_type == 'Link' %><dd><%= link_to format_url(resource.res_file_name), format_url(resource.res_file_name), :target => '_blank', :class=>"foot" %></dd><% end %>
			<% if auth?(0,resource.id) %>
				<dd><%= link_to	'Edit', edit_resource_path(resource,{:cat=>params[:cat]}), :class => 'admin' %>  
				<%= link_to 'Delete', resource, :confirm => 'Are you sure?', :method => :delete, :cat=>params[:cat], :class => 'admin'%></dd>
			<% end %>

		<% end %>
		</dl>
