		 <dl id="resources" class="resourceList">
		<% @resources.each do |resource| %>  
			<div  id="resource_<%= resource.id %>">
				<% if resource.resource_type == 'Document' %>
					<dt class="<%= get_icon(resource.res_content_type) %>"><%= link_to resource.title, resource.res.url, :title => "Download #{resource.res_file_name} ~#{resource.res_file_size/1000} KB", :target => '_blank' %></dt>
					<% if resource.description.size %><dd><%= strip_tags(resource.description) %></dd><% end %>
				<% elsif resource.resource_type == 'Link' %>
					<dt class="link" id="item_<%= resource.id %>"><%= link_to resource.title, format_url(resource.res_file_name), :target => '_blank' %></dt>
					<% if resource.description.size %><dd><%= strip_tags(resource.description) %></dd><% end %>
				<% else %>
					<dt class="page" id="item_<%= resource.id %>"><%= link_to resource.title, resource_path(resource) %></dt>			
				<% end %>
				<% if admin? %>
					<dd><span class="handle" style="<%= @cursor_style %>">DRAG</span> <%= link_to	'Edit', edit_resource_path(resource), :class => 'admin' %>  
					<%= link_to 'Delete', resource, :confirm => 'Are you sure?', :method => :delete, :class => 'admin'%></dd>
				<% end %>
			</div>

		<% end %>
		</dl>
<% content_for :javascript  do %>
  <%= javascript_tag do %>
    // Sorting the list

    $(document).ready(function(){
      $('#resources').sortable({
        axis: 'y',
        dropOnEmpty: false,
        handle: '.handle',
        cursor: 'crosshair',
        items: 'div',
        opacity: 0.4,
        scroll: true,
        update: function(){
          $.ajax({
            type: 'post',
            data: $('#resources').sortable('serialize'),
            dataType: 'script',
            complete: function(request){
              $('#resources').effect('highlight');
              },
            url: '/resources/sort'})
          }
        });
      });
  <% end %>
<% end %>