<%- content_for(:fck) do -%>
	<%= javascript_include_tag :fckeditor %>
<%- end -%>
<div id="centerCol">
<h1>Editing Resource Category</h1>

<% form_for(@rescat) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :blurb %><br />
		<%= fckeditor_textarea("rescat", "blurb", :toolbarSet => 'Format', :width => '100%', :height => '100px') %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>

<% end %>

<%= link_to 'Cancel', rescats_path, :class=>"admin" %>
</div>