<%= link_to image_tag("/assets/header/home.png"), root_path %>
<%= link_to image_tag("/assets/header/departments.png"), departments_path %>
<%= link_to image_tag("/assets/header/reference.png"), resources_path %>
<%= link_to image_tag("/assets/header/news.png"), events_path(:t => 'News') %>
<div class="listDate"><%= Date.today.strftime("%B %d, %Y") %></div>