<!DOCTYPE html>
<html>
<head>
  <title>Branch County Michigan</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery", "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {

});

</script>
</head>
<body>
	<div id="pageContent" class="pageshadow">
		<header class="main">
			<%= image_tag("/assets/header/header1.png") %>
		</header>
		<nav id="main">
			<%= render "/layouts/main_nav" %>
		</nav><!--endmainNav-->
		<% if admin? %>
			<div id="adminNav"><%= render "/layouts/admin_nav" %></div>
		<% end %><!--endadminNav-->
		<div id="leftCol">
			<%= content_for?(:leftCol) ? yield(:leftCol) : render("/layouts/boilerplate") %>
		</div>
			<p style="color: #907757; margin-left:190px;"><%= flash[:notice] %></p>
		<%= yield %>
		<br clear="both" />
	</div><!-- end pageContent -->
	<footer>
		Copyright 2012 Branch County Coldwater, MI 49036 517.279.4300 <br />
		<%= link_to "Aetistry", ('http://www.aetistry.com/'), :target => "_blank" %>
	</footer>
	<%= yield (:javascript) %>
	
</body>
</html>
